.loginContainer form {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(231 232 233);
  margin-top: 40px;
}

.button {
  background-color: #9843c0 !important;
  color: white !important;
  border: 1px solid #9843c0 !important;
}

.button:hover {
  background-color: white;
  color: #9843c0;
}

.loginContainer button {
  background-color: #9843c0;
  color: white;
  border: 1px solid #9843c0;
}

.loginContainer button:hover {
  background-color: white;
  color: #9843c0;
  border: 1px solid #9843c0;
}

.signupContainer form {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(231 232 233);
  margin-top: 40px;
}

.signupContainer button {
  background-color: #9843c0;
  color: white;
  border: 1px solid #9843c0;
}

.signupContainer button:hover {
  background-color: white;
  color: #9843c0;
  border: 1px solid #9843c0;
}

.App {
  position: relative;
}

.homeContainer {
  padding: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.homeContainer h1 {
  margin-bottom: 24px;
  color: #9843c0;
}

.listingsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 30px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.navbar {
  background-color: #9843c0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
  flex-grow: initial;
}

.favorite-icon {
  cursor: pointer;
  /* padding: 5px; */
}

.favoritesContainer {
  padding-bottom: 3em;
  margin-bottom: 2em;
  border-bottom: 2px solid #9843c0;
}

.favoritesContainer .cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 30px;
}

.view_more_container {
  display: flex;
}

.view_more_favorites {
  display: inline-block;
  margin: 1em 1em 0 auto;
}

.favorites {
  padding: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.favorites h1 {
  margin-bottom: 24px;
  color: #9843c0;
}

.listingContainer {
  padding: 40px 30px;
  max-width: 800px;
  margin: 0 auto;
}

.listingContainer h1 {
  margin-bottom: 24px;
  color: #9843c0;
}

.listingContainer p {
  font-size: 18px;
}

.listing h1 {
  margin-bottom: 10px;
}

.listing img {
  display: block;
  margin: 0 auto;
}

.header-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.header-info p:nth-child(2) {
  margin-left: 24px;
}

.listing-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.body-information-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.body-information-container p {
  margin: 0;
  margin-left: 12px;
}

.separator {
  height: 1px;
  width: 100%;
  background: lightgray;
  margin: 32px 0;
}

.favorite-button {
  background-color: #9843c0;
  color: white;
  border: 1px solid #9843c0;
  margin-left: auto;
  display: block;
}

.favorite-button:hover {
  background-color: white;
  color: #9843c0;
  border: 1px solid #9843c0;
}

.comment-button {
  margin-left: auto;
  display: block;
}

.comments {
}

.comment {
  padding-bottom: 16px;
  border-bottom: 1px solid lightgray;
  margin-top: 16px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.person {
  margin-left: 16px;
}

.person p {
  margin-bottom: 0px;
}

.circle {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #9843c0;
  background-color: #9843c0;
}

.circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: white;
}

.comment_body {
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .listingsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .favoritesContainer .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .listingsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .favoritesContainer .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
