.loginContainer form {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(231 232 233);
  margin-top: 40px;
}

.loginContainer button {
  background-color: #9843c0;
  color: white;
  border: 1px solid #9843c0;
}

.loginContainer button:hover {
  background-color: white;
  color: #9843c0;
  border: 1px solid #9843c0;
}

.signupContainer form {
  width: 100%;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(231 232 233);
  margin-top: 40px;
}

.signupContainer button {
  background-color: #9843c0;
  color: white;
  border: 1px solid #9843c0;
}

.signupContainer button:hover {
  background-color: white;
  color: #9843c0;
  border: 1px solid #9843c0;
}

.App {
  position: relative;
}

.homeContainer {
  padding: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.homeContainer h1 {
  margin-bottom: 24px;
  color: #9843c0;
}

.listingsContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 30px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.navbar {
  background-color: #9843c0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
  flex-grow: initial;
}

.favorite-icon {
  cursor: pointer;
  /* padding: 5px; */
}

.favoritesContainer {
  padding-bottom: 3em;
  margin-bottom: 2em;
  border-bottom: 2px solid #9843c0;
}

.favoritesContainer .cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 30px;
}

.view_more_container {
  display: flex;
}

.view_more_favorites {
  display: inline-block;
  margin: 1em 1em 0 auto;
}

.favorites {
  padding: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.favorites h1 {
  margin-bottom: 24px;
  color: #9843c0;
}

@media screen and (min-width: 768px) {
  .listingsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .favoritesContainer .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .listingsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .favoritesContainer .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
